.container{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(5, auto);
    background-color: aqua;
    padding: 10px;
    gap: 10px;
}
.container > div {
    background-color: lightblue;
    padding: 20px 0;
    text-align: center;
}

.item8{
    grid-area: 1 / 2 / 5 / 6;
}

@media only screen and (max-width: 500px){
    .container{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, auto);
    background-color: aqua;
    padding: 7px;
    gap: 7px;

    }
    .item8 {
        grid-area: 1 / 2 / 4 / 5;
    }
    .item15{
        grid-column: 3 / span 3;
    }
}